.contenedorModal {
  width: 30rem;
  height: 30rem;
  background-color: #69131f;
  position: fixed;
  border-radius: 10px;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Negro semi-transparente */
  z-index: 999; /* Asegura que esté por debajo del modal */
}

.contenedorModal__content {
  width: 30rem;
  height: 30rem;
}

.contenedorButton__cerrar {
  position: absolute;
  right: 40px;
  top: 30px;
}

.cerrarModal {
  background: transparent;
  border: none;
  cursor: pointer;
}

.contenedorInformación {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30rem;
  height: 30rem;
}

.inputInfo {
  background-color: #f1e9dd;
  border-radius: 5px;
  width: 400px;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 10px;
  color: #69131f;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.inputInfo__sinopsis {
  background-color: #f1e9dd;
  border-radius: 5px;
  width: 400px;
  height: max-content;
  display: flex;
  align-items: center;
  padding: 10px;
  color: #69131f;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.h2Info {
  color: #f1e9dd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: lighter;
}

.contenedorBotonDescatalogar {
  position: absolute;
  right: 20px;
  margin-top: 25px;
  display: flex;
  align-items: center;
}

.descatalogar {
  background: transparent;
  border: none;
  font-size: 16px;
  color: #ef7d60;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: bold;
  gap: 5px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
