.logo {
  height: 100px;
  width: auto;
  align-items: center;
  border: none;
  background: transparent;
}

.buscador {
  width: 150px;
  height: 30px;
  background-color: #f1e9dd;
  color: #69131f;
  border-radius: 30px;
  border: none;
  padding: 0 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: absolute;
  right: 0;
  margin-right:110px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hr {
  width: 1300px;
  height: 3px;
  background-color: #69131f;
  border-radius: 3px;
}
