.logo {
  height: 100px;
  width: auto;
  border: none;
  background: transparent;
}

.buscador {
  width: 150px;
  height: 30px;
  background-color: #f1e9dd;
  color: #69131f;
  border-radius: 30px;
  border: none;
  padding: 0 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1% 5%;
}

.hr {
  width: 90%;
  height: 3px;
  background-color: #69131f;
  border-radius: 3px;
}